.transaction-form {
  background-color: #f9f8f4;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transaction-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.transaction-form input,
.transaction-form select
{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: center; 
  gap: 80px; 
  margin-top: 20px;
}

button[type="submit"], button[type="button"] {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

button[type="button"] {
  background-color: #f44336;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}
